{# File Version 1.2 [4.10.2019] #}
<!-- v1.2 | 4.10.2019 -->
<!doctype html>
<html lang="de">

<head>
    <title>{{ title }} | {{ brand }}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.11.1/css/all.min.css"
          integrity="sha256-PbSmjxuVAzJ6FPvNYsrXygfGhNJYyZ2GktDbkMBqQZg=" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.0.7/css/sb-admin-2.min.css"
          integrity="sha256-vXEn7qVQ1XquIG0j14MmJDno8qYD64JTdmNFmTG4Auw=" crossorigin="anonymous">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.statically.io/img/i.imgur.com/{{ favicon_apple_touch_icon }}.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.statically.io/img/i.imgur.com/{{ favicon_icon_32 }}.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.statically.io/img/i.imgur.com/{{ favicon_icon_16 }}.png">
    <link rel="manifest"
          href="https://cdn.statically.io/gl/filli-group/img/raw/{{ favicon_manifest }}/site.webmanifest">
    <link rel="mask-icon"
          href="https://cdn.statically.io/gl/filli-group/img/raw/{{ favicon_mask_icon }}/safari-pinned-tab.svg"
          color="#5bbad5">
    <link rel="shortcut icon" href="https://cdn.filli-group.com/{{ favicon_shortcut_icon }}/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config"
          content="https://cdn.statically.io/gl/filli-group/img/raw/{{ favicon_msapplication_config }}/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Meta Tags -->
    <meta name='keywords' content='{{ meta_keywords }}'>
    <meta name='description' content='{{ meta_description }}'>
    <meta name='author' content='Ursin Filli, ursin.filli@Filli-IT.ch'>
    <meta name='copyright' content='Filli Group (Einzelunternehmen) and/or its affiliates'>
    <meta name='reply-to' content='ursin.filli@Filli-IT.ch'>
    <meta name='revisit-after' content='1 week'>
</head>

{% if auth is defined %}
<body class="bg-gradient-primary">
    <div class="container">
        {% block content_auth %}{% endblock %}
    </div>
{% else %}
<body id="page-top">
    <div id="wrapper">
        {% include 'navigation1.twig' %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% include 'navigation2.twig' %}
                <div class="container-fluid">
                    {% block content %}{% endblock %}
                </div>
            </div>
            {% include 'footer.twig' %}
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
{% endif %}

<!-- Browser-Update.org -->
<script>
    var $buoop = {required:{e:-4,f:-3,o:-3,s:-1,c:-3},insecure:true,unsupported:true,api:2019.09 };
    function $buo_f(){
        var e = document.createElement("script");
        e.src = "https://browser-update.org/update.min.js";
        document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}
</script>

<!-- Core JS Files -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha256-fzFFyH01cBVPYzl16KT40wqjhgPtq6FFUB6ckN2+GGw=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.0.7/js/sb-admin-2.min.js" 
		integrity="sha256-tCfY819ixSSCdfJ1UH/P8fV9/PdD2aldEgg6Te0HaOU=" crossorigin="anonymous"></script>
</body>

</html>